[submodule "ext/tree-sitter"]
	path = ext/tree-sitter
	url = git@github.com:tree-sitter/tree-sitter.git
[submodule "ext/tree-sitter-json"]
	path = ext/tree-sitter-json
	url = git@github.com:tree-sitter/tree-sitter-json.git
